.innerSwiperContainer {
  position: relative;
  width: 100%;
  padding-inline: 90px;
  display: flex;
  align-items: center;
  .swiper {
    width: 100%;
    overflow: visible;
  }

  .slide {
    width: auto !important;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .year {
    font-size: 25px;
    font-family: "Bebas Neue", sans-serif;
    color: var(--color-blue-second);
    line-height: 30px;
    margin-bottom: 15px;
  }

  .text {
    font-size: 20px;
    line-height: 30px;
    max-width: 370px;
  }

  .navButtonPrev,
  .navButtonNext {
    position: absolute;
    z-index: 10;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
    cursor: pointer;
    transition: opacity 0.3s ease;
    box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);
    color: var(--color-blue-second);
    &.swiper-button-disabled{
      opacity: 0;
    }

  }

  .navButtonPrev {
    left: 22px;
  }

  .navButtonNext {
    right: 22px;
  }
}
:global(.swiper-button-disabled) {
  opacity: 0 !important;
  pointer-events: none !important;
}
