.innerSwiperContainer {
  position: relative;
  width: 100%;
  padding-inline: 90px;
  display: flex;
  align-items: center;
  @media (max-width: 780px) or (max-height: 890px)  {
    padding-inline: 0;
  }
  .swiper {
    width: 100%;
    overflow: visible;
  }

  .slide {
    width: auto !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    max-width: 370px;
    @media (max-height: 670px) {
      max-width: 180px;
    }
    @media (max-height: 350px) {
      max-width: 166px;
    }
  }

  .year {
    font-size: 25px;
    font-family: "Bebas Neue", sans-serif;
    color: var(--color-blue-second);
    line-height: 30px;
    margin-bottom: 15px;
    @media (max-height: 670px) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  .text {
    font-size: 20px;
    line-height: 30px;

    @media (max-height: 670px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .navButtonPrev,
  .navButtonNext {
    position: absolute;
    z-index: 10;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
    cursor: pointer;
    transition: opacity 0.3s ease;
    box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);
    color: var(--color-blue-second);
    @media (max-width: 1024px) or (max-height: 890px) {
      display: none;
    }
    &.swiper-button-disabled{
      opacity: 0;
    }

  }
  .navButtonPrev {
    left: 22px;
  }

  .navButtonNext {
    right: 22px;
  }
}
:global(.swiper-button-disabled) {
  opacity: 0 !important;
  pointer-events: none !important;
}