@mixin circleLines {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgba(49, 101, 199, 0.1);
  top: 50%;
  left: 50%;
  @media (max-width: 780px) or (max-height: 890px) {
    display: none;
  }
}
.circle {
  z-index: 10;
  border-radius: 50%;
  width: 530px;
  height: 530px;
  border: 1px solid rgba(66, 86, 122, 0.2);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: 780px) or (max-height: 890px) {
    display: none;
  }
  &Btn {
    cursor: pointer;
    padding: 0;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid var(--text-color);
    background-color: var(--text-color);
    font-size: 20px;
    line-height: 30px;
    transition:
      width 0.3s ease,
      height 0.3s ease,
      background-color 0.3s ease,
      border-color 0.3s ease !important;
    will-change: width, height;
    &:hover {
      background-color: var(--color-bg);
      width: 56px;
      height: 56px;
      & + .circleNum {
        opacity: 1;
      }
    }
  }
  &Container {
    width: 100%;
    height: 530px;
    position: relative;
    margin-top: -89px;
    margin-bottom: 95px;
    @media (max-width: 1050px) {
      border: none;
      margin-top: -50px;
      margin-bottom: 55px;
    }
    @media (max-width: 780px) or (max-height: 890px) {
      width: calc(100% - 40px);
      height: 250px;
      margin-top: 0;
      margin-inline: 20px;
      margin-bottom: 0;
    }
    @media (max-height: 810px) {
      height: 158px;
    }

    &:before {
      @include circleLines;
      transform: translate(-50%, -50%);
    }
    &:after {
      @include circleLines;
      background: rgba(66, 86, 122, 0.1);
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  &TextContainer {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    transform-origin: center center;
    transform: rotate(calc(-1 * #{"var(--rotationDeg, 0deg)"}));
    color: var(--text-color);
    &.active {
      opacity: 1;
    }
    &:hover {
      opacity: 1;
    }
  }
  &Num {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease;
    .circleTextContainer:hover & {
      opacity: 1;
    }

    .circleTextContainer.active & {
      opacity: 1;
    }
  }
  &Title {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: calc(100% + 20px);
    transform: translate(0, -50%);
    opacity: 0;
    display: none;
    .circleTextContainer.active & {
      opacity: 1;
      display: block;
    }
  }
}
@mixin yearsNums {
  font-size: 200px;
  line-height: 160px;
  font-weight: bold;
  @media (max-width: 1200px) {
    font-size: 130px;
  }
  @media (max-width: 780px) or (max-height: 890px) {
    font-size: 100px;
  }
  @media (max-width: 610px) {
    font-size: 56px;
  }
}
.yearsBlock {
  display: flex;
  flex-wrap: nowrap;
  gap: 120px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: 460px) {
    gap: 32px;
  }
  &Start {
    @include yearsNums;
    color: var(--color-iris);
    @media (max-width: 610px) {
      color: var(--color-blue-second);
    }
  }
  &End {
    @include yearsNums;
    color: var(--color-fuschia);
  }
}
.activeBtn {
  background-color: var(--color-bg);
  width: 56px;
  height: 56px;
}
